
@if (TempData["ErrorMesagge"] != null)
{
    <div class="alert alert-warning">
        <p>@TempData["ErrorMesagge"]"</p>
    </div>
}



@if (TempData["SucessMessage"] != null)
{
    <div class="alert alert-warning">
        <p>@TempData["SucessMessage"]"</p>
    </div>
}
