
/* Encabezado */
.encabezado {
    display: flex;
    justify-content: space-between;
    max-width: 97%;
}

#contenido-pdf {
    margin-top: 5%;
    margin-left: auto; /* Centrar el contenido en la página */
    margin-right: auto;
    max-width: 90%; /* Ajustar el ancho máximo del contenido */
}

.encabezado-imagen {
    max-height: 100px;
    margin-bottom: 20px;
}

.encabezado-titulo {
    font-size: 15px;
    font-weight: bold;
    position: absolute;
    top: 35%;
    right: 10%;
    margin: 8px;
}

.encabezado p {
    font-size: 10px;
}

section p {
    line-height: 0.5;
    font-size: 14px;
}

    section p strong {
        font-weight: bold;
        font-size: 13px;
    }

.elemento {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.texto-elemento {
    font-size: 18px;
}

/* Espacio para observaciones */
.observaciones {
    margin: 20px 0;
}

    .observaciones textarea {
        width: 100%;
        height: 100px;
    }

.rectangulo {
    width: 420px; /* Reducción del ancho del rectángulo */
    height: 120px; /* Reducción de la altura del rectángulo */
    border: 2px solid black;
    padding: 5px; /* Reducción del espacio interno */
    position: absolute;
    font-family: Arial, sans-serif;
    bottom: 44%;
    right: 10%;
    line-height: 1.2; /* Reducción del espacio entre líneas */
    margin: 0 auto; /* Centrar el rectángulo horizontalmente */
}

    .rectangulo p {
        margin: 5px 0; /* Reducción del espacio entre párrafos */
        font-size: 13px; /* Reducción del tamaño de la fuente */
    }

/* Estilos para la línea vertical */
.linea-vertical {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    top: 0;
    left: 60%;
}

/* Estilos para "Fecha:" y "Firma:" */
.fecha-firma {
    position: absolute;
    top: 5%;
    width: 50%; /* Reducción del ancho para la parte derecha del rectángulo */
    left: 62%;
}


table {
    border-collapse: collapse;
    width: 100%;
  
  
}

    /* En tu archivo cartilla.css o en línea */
    table.default {
        margin: 0 auto; /* Centrar la tabla horizontalmente */
        width: 90%; /* Ajustar el ancho de la tabla según el contenedor */
        margin-top: 5%;
        margin-bottom: 8%;
    }


th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
    font-size: 12px;
}

.material-icons {
    font-size: 15px;
}



tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para el contenedor de observaciones */
/* Estilos para el contenedor de observaciones */
.observaciones {
    text-align: center;
}

/* Estilos para el cuadro de observaciones */
.cuadro-observaciones {
    max-width:500px; /* Establece el ancho máximo que desees */
    margin: 10% auto; /* Centra el cuadro en la página */
    border: 2px solid black; /* Borde del cuadro */
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

/* Estilos para el label de observaciones */
label {
    font-size: 15px;
    height: 20px; /* Altura fija */
    width: 100%; /* Ancho fijo */
    white-space: nowrap;
}

/* Estilos para el área de texto de observaciones */
textarea {
    width: 100%;
    height: auto; /* Altura automática */
    font-size: 16px;
}

/* Estilos para el contenedor de firmas */
.firmas {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Crea 4 columnas de igual ancho */
    gap: 10px; /* Espacio entre columnas */
}

/* Estilos para cada firma */
.firma {
    text-align: center;
}

    /* Estilos para la línea de firma */
    .firma .linea {
        border-top: 2px solid #000; /* Grosor de 1 píxel */
        width: 50%; /* Ancho de la línea */
        margin: 10px auto; /* Centra la línea horizontalmente */
    }

    /* Estilos para el texto de firma */
    .firma p {
        font-size: 16px;
        margin: 0; /* Quitamos cualquier margen en los párrafos */
    }



/* En tu archivo cartilla.css o en línea */

/* Estilos para la tabla en dispositivos más pequeños */
@media only screen and (max-width: 768px) {
    table.default {
        width: 100%;
        margin-top: 40%; /* Ajusta según sea necesario */
        margin-bottom: 8%;
    }

    .rectangulo {
        width: 100%;
        margin: -230px 0; /* Ajusta según sea necesario */
    }

        .rectangulo p {
            margin: 5px 0; /* Reducción del espacio entre párrafos */
            font-size: 12px; /* Reducción del tamaño de la fuente */
        }

    .observaciones {
        margin: 20px 0;
    }

    .cuadro-observaciones {
        max-width: 100%;
        margin: 10% auto;
    }

    .firma {
        text-align: center;
        margin-bottom: 20px;
    }

        .firma .linea {
            width: 80%;
            margin: 10px auto;
        }
}
