
/* Encabezado */
.encabezado {
    display: flex;
    justify-content: space-between;
}

.encabezado-imagen {
    max-height: 100px;
    margin-bottom: 20px;
}

.encabezado-titulo {
    position: absolute;
    font-size: 15px;
    font-weight: bold;
    color: black;
    right: 10%;
    top: 30px;
}

.encabezado p {
    font-size: 10px;
}

section p {
    line-height: 0.5;
    font-size: 15px;
}

    section p strong {
        font-weight: bold;
        font-size: 15px;
    }

.elemento {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.texto-elemento {
    font-size: 18px;
}

/* Espacio para observaciones */
.observaciones {
    margin: 20px 0;
}

    .observaciones textarea {
        width: 100%;
        height: 100px;
    }

.rectangulo {
    top: 70px;
    width: 550px;
    height: 155px;
    border: 2px solid black;
    padding: 10px;
    position: absolute;
    font-family: Arial, sans-serif;
    right: 10%; /* Ajusta la distancia desde la derecha según tus necesidades */
    line-height: 1.5;
}

/* Estilos para la línea vertical */
.linea-vertical {
    border-left: 2px solid black;
    height: 100%;
    position: absolute;
    top: 0;
    left: 60%;
}

/* Estilos para "Fecha:" y "Firma:" */
.fecha-firma {
    position: absolute;
    top: 5%;
    width: 50%; /* Ajusta el ancho para la parte derecha del rectángulo */
    left: 62%;
}


.lista-table {
    border-collapse: collapse;
    width: 80%;
    margin: 10%;
    font-size: 12pt;
}

table.lista-table {
    margin: 0 auto; /* Esto centrará la tabla horizontalmente */
    width: 80%; /* Ajusta el ancho de la tabla según tus necesidades */
    margin-top: 5%;
    margin-bottom: 8%;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 2px solid black;
    padding: 8px;
    text-align: left;
    font-size: 10px;
}

.material-icons {
    font-size: 15px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Estilos para el contenedor de observaciones */
/* Estilos para el contenedor de observaciones */
.observaciones {
    text-align: center;
}

/* Estilos para el cuadro de observaciones */
.cuadro-observaciones {
    max-width: 600px; /* Establece el ancho máximo que desees */
    margin: 10% auto; /* Centra el cuadro en la página */
    border: 2px solid black; /* Borde del cuadro */
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: -5%;
}

/* Estilos para el label de observaciones */
label {
    font-size: 18px;
    height: 20px; /* Altura fija */
    width: 100%; /* Ancho fijo */
    white-space: nowrap;
}

/* Estilos para el área de texto de observaciones */
textarea {
    width: 100%;
    height: auto; /* Altura automática */
    font-size: 16px;
}


.firmas-table {
    width: 100%;
    border: none !important;
    border-collapse: collapse !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: none !important;
    box-shadow: none !important;
}


.firmas-table {
    border-collapse: collapse;
    width: 100%; /* O ajusta según tus necesidades */
}

    .firmas-table td {
        padding: 5px; /* Ajusta el espaciado interno según sea necesario */
    }

.firma {
    display: inline-block;
    text-align: center;
    margin: 0 10px; /* Ajusta el margen entre firmas según sea necesario */
}

.linea {
    border-top: 1px solid black;
    margin-bottom: 5px;
}

.firma {
    text-align: center;
    width: 25%;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    outline: none !important;
    box-shadow: none !important;
    /* Estilos adicionales para cada firma */
}

    /* Estilos para la línea de firma */
    .firma .linea {
        border-top: 2px solid #000; /* Grosor de 1 píxel */
        width: 75%; /* Ancho de la línea */
        margin: 10px auto; /* Centra la línea horizontalmente */
    }







