.profile-container {
    background-color: #e9e8e8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Cambiado el valor de la opacidad para hacer la sombra más visible y de color negro */
    border-radius: 10px;
    overflow: hidden;
    max-width: 800px;
    margin: 60px auto;
    transition: box-shadow 0.3s ease;
}

    .profile-container:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8); /* Aumentado la opacidad de la sombra en el hover */
        margin: 50px auto;
    }

.user-info ul {
     /* Quita los puntos de la lista */
    padding: 0;
    text-align: left;
  
}
.user-info li {
    margin-left: 0; /* Quita la indentación */
    padding: 5px 0; /* Añade algo de espacio entre los elementos */
}
.profile-header {
    background-color: #E96F21;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.profile-content {
    text-align: center;
    padding: 50px;
    color: black;
}

.user-icon {
    font-size: 60px;
    color: #585858;
}

.user-info {
    color: #585858;
    margin-top: 20px;
}

h1, h2 {
    margin: 0;
}

p {
    margin: 5px 0;
}

.social-icons {
    margin-top: 20px;
}

.social-icon {
    font-size: 24px;
    margin: 0 10px;
    color: #585858;
}
